:root {
  --background: rgb(247, 246, 234);
  --background-shadow: rgb(176, 185, 162);
  --light-bold: rgb(195, 172, 93);
  --medium-bold: rgb(194, 147, 54);
  --dark-bold: rgb(184, 122, 27);
  --subheading: rgb(120, 128, 71);
  --dark-subheading: rgb(49, 54, 31);
  --splash: rgb(161, 45, 43);
  --body-text: rgb(0, 0, 0);
}

html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: "Source Serif 4", serif;
  box-sizing: border-box;
}

/****************   Nav Section **********************/
nav {
  margin: 0;
  background-color: var(--splash);
  color: var(--light-bold);
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
}

nav p {
  padding-left: 1em;
  font-size: 1.1em;
}

nav a {
  margin: 0;
  padding: 0.5em;
  color: var(--light-bold);
  text-decoration: none;
  border: 2px solid var(--light-bold);
  border-radius: 5px;
}

/***********************  Footer Section   **************************/
footer {
  color: var(--subheading);
  font-size: 1.1em;
  padding: 5px 0;
  border-top: 2px solid var(--splash);
  margin-top: max(15px, 2.5vh);
  display: flex;
  justify-content: center;
}

#footerContactLink {
  text-decoration: none;
}

footer a {
    color: var(--subheading);
    text-decoration: none;
}

footer a:visited {
  color: var(--subheading);
}

/*********** Splash Page ************************/
header {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--splash);
}

/*
  Type-writer inspiration from 
  https://css-tricks.com/snippets/css/typewriter-effect/
  background-gradient from: 
  https://codepen.io/P1N2O/pen/pyBNzX
  background-gradient-text from:
  https://www.amitmerchant.com/animated-gradient-effect-in-css/
 */
header h1 {
  background-image: linear-gradient(to top left, var(--medium-bold), var(--light-bold), var(--background));
  background-clip: text;
  color: transparent;
  background-size: 400% auto;
  overflow: hidden;
  margin: 10px 0;
  white-space: nowrap;
  border-right: 3px solid var(--background);
  padding-right: 0.125em;
  font-size: 2.5em;
}

header img {
  border-radius: 50%;
  border: 5px solid var(--light-bold);
  margin: 20px 0 15px 0;
}

.address {
  text-align: center;
  margin: 5px 0;
  padding: 5px;
  color: var(--body-text);
  font-size: 1.1em;
}

.tagline {
  text-align: center;
  margin: 0;
  padding: 5px;
  color: var(--body-text);
  font-size: 1.1em;
}

/************* Sections ********************/
hr {
  width: 75vw;
  margin: 5px auto;
  max-width: 1000px;
  border: 1px solid var(--splash);
}

h2 {
  color: var(--dark-subheading);
}

#education,
#honors,
#skills,
#leadership {
  width: 65vw;
  max-width: 750px;
  margin: 0 auto;
  padding: 10px;
  border-bottom: 2px solid var(--background-shadow);
  font-size: 1.1em;
}

#education, #honors, #leadership dl {
  font-size: 1.1em;
}

#projects h2 {
  text-align: center;
  color: var(--dark-subheading);
}

nav,
header,
section,
footer {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

section h3 {
  font-family: "Source Serif 4", serif;
  color: var(--subheading);
  text-align: center;
  font-size: 1.1em;
}

section dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section dd {
  text-align: right;
}
section ul {
  list-style-type: disc;
}

section li {
  margin: 3px 0;
  font-size: 1.1em;
}

.bold {
  color: var(--subheading);
  font-weight: 600;
}

section a {
  text-decoration: none;
  color: var(--subheading);
  font-weight: bold;
}

/**************   Projects   *****************/
.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
  height: auto;
  margin: 1.5vw;
}

.card h3 {
  height: max(30px, 4vh);
  font-size: 1.1em;
  font-weight: 700;
}

.card img {
  width: 100%;
  margin: 0;
  height: 20vw;
}

.card {
  box-shadow: 0 5px 5px #041b387e;
  background-color: var(--background);
  border-width: 0 3px 3px 0;
  border-color: var(--background-shadow);
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card ul li {
  box-sizing: border-box;
  font-size: 1.1em;
  padding: 0 12px 10px 0;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .three-col {
    grid-template-columns: 80vw;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    row-gap: 50px;
  }

  .three-col .card img {
    /* min-height: 300px; */
    width: 80vw;
    height: 50vw;
  }
}

/**************   Contact Page   *****************/

.one-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  background-color: var(--background);
  border: 1px solid var(--background-shadow);
  border-radius: 16px;
  box-shadow: 0 5px 5px rgba(var(--background-shadow), 0.3);
  margin: 20px auto;
  width: 50vw;
  max-width: 500px;
  height: 45vh;
  padding: 20px;
}

#contact-me {
  display: inline-block;
  width: auto;
  padding: 8px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--dark-bold);
  color: var(--background);
  border-radius: 25px;
  margin: 8px 0;
}

input {
  background-color: var(--background);
  border: 2px solid var(--background-shadow);
  border-radius: 5px;
  margin-bottom: 10px;
  height: 25px;
}

textarea {
  min-height: 100px;
  background-color: var(--background);
  border: 2px solid var(--background-shadow);
  border-radius: 5px;
  margin-bottom: 10px;
}

input:focus,
textarea:focus, input:hover,
textarea:hover {
  background-color: rgba(var(--dark-bold), 0.8);
  border: 3px solid var(--dark-bold);
  outline: var(--navy);
}

button {
  margin-left: 20px;
  background-color: var(--splash);
  color: var(--light-bold);
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  margin: 0 auto;
  border-color: var(--dark-bold);
}